<template>
  <div>
    <nuxt />
  </div>
</template>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--nb {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #80b0f0;
  color: #80b0f0;
  text-decoration: none;
  padding: 10px 30px;
}

.button--nb:hover {
  color: #80b0f0;
  background-color: #204080;
}

</style>
