<template>
  <section class="container">
    <div>
      <h1 class="title">
        NoizBuster
      </h1>
      <img class="profile" src="/wwcrop.svg"/>
      <div class="links">
        <a
          href="https://blog.noizbuster.com"
          target="_blank"
          class="button--nb bt"
        >Blog</a>
        <a
          href="https://noizbuster.github.io/portfolio"
          target="_blank"
          class="button--nb bt"
        >Portfolio</a>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  head: {
    title: 'NoizBuster - Landing Page',
    meta: [
    ],
    link: [
      // { href: "https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel:"stylesheet"}
      { href: "https://fonts.googleapis.com/css?family=Quicksand&display=swap", rel:"stylesheet"}
    ],
    noscript: [
    ],
    script: [
      { src: '/head.js' },
      // Supported since 1.0
      { src: '/body.js', body: true },
      { src: '/defer.js', defer: '' }
    ]
  }
}
</script>

<style>
html {
  background-image: linear-gradient(rgba(16, 32, 64, 0.65), rgba(16, 32, 64, 0.65)), url("/sfparry.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto, cover;
}

body {
  /*background-color: #102040;*/
  /*background: linear-gradient(rgba(16, 32, 64, 0.75), rgba(16, 32, 64, 0.75));*/
}

.bt {
  margin: 10px;
  width: 125px;
}

.profile {
  height: 300px;
  width: 300px;
  fill:white;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
  font-weight:lighter;
  font-size: 75px;
  color: lightgray;
  letter-spacing: 1px;
}

.subtitle {
  font-style:italic;
  font-weight: 100 !important;
  font-size: 42px;
  color: lightslategray;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
